<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=BEKK-KENDEVIK\SQLEXPRESS;Initial Catalog=dbAlloyTechAzure;Integrated Security=False;User ID=dbUserdbAlloyTechAzure;Password=922{0t296N;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>