<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=tcp:udcoj5ueel.database.windows.net,1433;Initial Catalog=alloytech;User Id=alloytech@udcoj5ueel;Password=iaLerXDZs5y4;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EPiServerAzureBlobs" connectionString="DefaultEndpointsProtocol=https;AccountName=alloytech;AccountKey=UHKwLfst+NquzsaG0N7XBLgoArHFbLcPzn/tfhm9+hFSwMFM3MQwChCu6YxNCvN4RZQRjUhm1QuNCDDt4n4+dg==" />
  <add name="EPiServerAzureEvents" connectionString="Endpoint=sb://alloytech.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=I7ctQAg5jzD1tqKkKQZpNuSdKQ1HnC2ZBbKrTpW5LfU=" />
</connectionStrings>


